<?xml version="1.0" ?>
<model>
    <name>HomeOffice</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Abin Alex Pothen</name>
        <email>abinalexpothen@gmail.com</email>
    </author>
    <description>This is my awesome home office.</description>
</model>
